    table{
        font-size: 20px;
        margin-top: 40px;
    }
    h1{
        text-align: center;
        margin-top: 50px;
    }
    center{
        margin-top: 30px;
        font-size: 20px;
    }